<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container mt-4">
	<div th:insert="menu :: navbar"></div>
    <h1>Delete Person</h1>
    <div th:if="${person}" class="mt-3">
        <p>Are you sure you want to delete <strong th:text="${person.fullName}"></strong>?</p>
        <form th:action="@{/persons/{id}/delete(id=${person.idPerson})}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div th:if="${person == null}" class="mt-3">
        <p>Person not found.</p>
    </div>
</body>
</html>
